---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

----


# Teaching Interests  
Healthcare  
>  * Health Economics
>  * Healthcare Services Delivery
>  * Healthcare Finance


Economics and Statistics
>  * Introduction, Principles, History
>  * Contemporary Affairs
>  * Public Policy, Econometrics
>  * Development, Poverty


Public Affairs
>  * Program Evaluation
>  * Policy Analysis
>  * Finance
>  * Data and Quantitative Analysis

----
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
