---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<hr>
<h1 id="teaching-interests">Teaching Interests</h1>
<p>Healthcare  </p>
<blockquote>
<ul>
<li>Health Economics</li>
<li>Healthcare Services Delivery</li>
<li>Healthcare Finance</li>
</ul>
</blockquote>
<p>Economics and Statistics</p>
<blockquote>
<ul>
<li>Introduction, Principles, History</li>
<li>Contemporary Affairs</li>
<li>Public Policy, Econometrics</li>
<li>Development, Poverty</li>
</ul>
</blockquote>
<p>Public Affairs</p>
<blockquote>
<ul>
<li>Program Evaluation</li>
<li>Policy Analysis</li>
<li>Finance</li>
<li>Data and Quantitative Analysis</li>
</ul>
</blockquote>
<hr>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
