---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<h1 id="interests">Interests</h1>

<p>Economics and Statistics</p>
<blockquote>
<ul>
<li>Introduction, Principles, History</li>
<li>Contemporary Affairs</li>
<li>Public Policy, Econometrics</li>
<li>Development, Poverty</li>
</ul>
</blockquote>

<p>Public Affairs</p>
<blockquote>
<ul>
<li>Program Evaluation</li>
<li>Policy Analysis</li>
<li>Finance</li>
<li>Data and Quantitative Analysis</li>
</ul>
</blockquote>

<p>Healthcare</p>
<blockquote>
<ul>
<li>Health Economics</li>
<li>Healthcare Services Delivery</li>
<li>Healthcare Finance</li>
</ul>
</blockquote>

<hr>

<h1 id="experience">Experience</h1>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

